#chats-screen {
  background-color: #abc1d1;
  height: 11000vh;
}

#chats-screen .alt-header,
#chats-screen .status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0px;
  background-color: #abc1d1;
}

@keyframes fadeindown {
  from {
    transform: translatey(-30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chats {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chats__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
  font-size: 15px;
  margin-bottom: 25px;
  animation: fadeindown 0.8s linear;
}

#chats-screen .status-bar {
  z-index: 2;
  /* z-index는 layor의 순서라고 생각하면 된다. position absolute or fixed에 사용됨 */
}

#chats-screen .alt-header {
  top: 10px;
  z-index: 1;
}

@keyframes fadeinleft_right {
  from {
    transform: translatex(-30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeinright_left {
  from {
    transform: translatex(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: fadeinleft_right 0.8s linear;
}

.message-row__own {
  justify-content: flex-end;
  animation: fadeinright_left 0.8s linear forwards;
  animation-delay: 1s;
  opacity: 0;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 15px;
}

.message__author {
  margin-bottom: 8px;
  display: block;
}

.message__bubble {
  background-color: white;
  padding: 10px 13px;
  border-radius: 10px;
  border-top-left-radius: 0;
  margin-right: 5px;
  font-size: 18px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time,
.message__author {
  opacity: 0.8;
  font-size: 15px;
}

.message-row__own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  margin-right: 0;
  margin-left: 5px;
}
/* .message-row__own .message__bubble {
  order: 1;

  order는 flex children에게만 적용된다. 이렇게 순서를 바꿔도 되고 
  아래를 참조 해도된다. 
}
.message-row__own .message__time {
  order: 0;
}
 */

.message-row__own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 97%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 10px;
  width: 99%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.reply i {
  opacity: 0.5;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 2px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 17px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-face-grin,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-grin,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 95vw;
  transform: translateX(-10%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
